.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 60px; 
    padding-top: 30px;
    background-color: white;
    width: 70px;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;

}

.sidebar-icon{
    height: 28px;
    cursor: pointer;
}

