.timestamp{
    position: absolute;
    right: 10px;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    bottom: 10px;
    background-color: black;
    color: white;
    font-family: roboto,Arial,sans-serif;
    font-weight: 500;
    font-size: 12px;

}